/** FROM CREATE-REACT-APP **/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


/** FORM PAGE CONTAINER **/

.formPage-container {
  height: 400px;
  width: 800px;
  background-color: white;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.formPage-pageContainer {
  height: 400px;
}

.formPage-logo img {
  width: 30%;
  margin-left: -10px;
  margin-top: -20px;
  margin-bottom: 5px;
}

.formPage-page-header {
  font-size: 20px;
  color: #424242;
}

.formPage-page-header-required {
  font-size: 17.5px;
  font-weight: 500;
  color: #585858
}

/** BUTTON FOOTER **/

.formPage-buttonFooterContainer {
  display: flex;
  justify-content: flex-end;
}

.formPage-buttonFooter, .formPage-buttonFooter-submit, .formPage-buttonFooter-back {
  display: flex;
  justify-content: flex-end;
}

.formPage-container button,
.formPage-ratingContainer button,
.formPage-buttonFooter-next button,
.formPage-buttonFooter-next-disabled button,
.formPage-buttonFooter-back button
.formPage-buttonFooter-submit button {
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.formPage-buttonFooter-next-disabled button {
  opacity: 0.75;
  cursor: not-allowed;
}

.formPage-buttonFooter-next button,
.formPage-buttonFooter-next-disabled button {
  background: #77aedc;
}

.formPage-buttonFooter-next button:hover,
.formPage-buttonFooter-next button:active {
  background: #5c9cd1;
  color: white;
}

.formPage-buttonFooter-submit button {
  background:  #5c9cd1;
}

.formPage-buttonFooter-submit button:hover,
.formPage-buttonFooter-submit button:active {
  background:#5391c5;
}

.formPage-buttonFooter-next button,
.formPage-buttonFooter-next-disabled button,
.formPage-buttonFooter-submit button {
  color: white;
  width: 200px;
  margin-left: 30px;
}

.formPage-buttonFooter-back button {
  background: #C2D8EA;
  width: 150px;
}

.formPage-buttonFooter-back button:hover,
.formPage-buttonFooter-back button:active {
  background: #b4d0e7;
}


/** FORM PAGE INTERACTIONS **/

.formPage-container select {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.formPage-ratingContainer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.formPage-ratingBox {
  width: 60px;
  height: 60px;
  text-align: center;
}

.formPage-ratingContainer button {
  background: #dee7eb;
  cursor: pointer;
}

.formPage-ratingContainer button:hover,
.formPage-ratingContainer button:active,
.formPage-ratingContainer button:focus {
  background: #86b2c7;
  color: white;
}

.formPage-ratingLabel {
  line-height: 60px;
}

.formPage-radioContainer {
  margin-left: 2%;
}

.formPage-radio {
  font-size: 20px;
  color: #585858;
}

.formPage-radio input[type=radio] {
  transform: scale(2);
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.formPage_input textarea {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 97.5%;
  height: 150px;
  padding: 10px;
  resize: none;
  background-color: #FAFAFA;
}

.formPage-thanks {
  color: #6E6E6E;
  margin-top: 20px;
}
